@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
/* Variables call var() for the method i want to use with the variable inside.*/
:root{
    --background-color: black;
    --clock-color: white;
    --clock_position: translateX(-50%) translateY(-50%);
    --title-position: translateX(0) translateY(770%);
}

html {
    /*Example of variable*/
    background-color: var(--background-color);
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Controls the vector of the content using translate*/
    transform: var(--clock_position);
    color: var(--clock-color);
    font-size: 120px;
    letter-spacing: 4px;
    font-family: 'Roboto Mono', monospace;    
    border:  inset white 5px;
    border-radius: 30px 30px 30px 30px;
}

@media screen and (max-width: 1800px) {
    .Title{
        max-width: 100%;
        max-height: 100%;
        transform: var(--title-position)
    }
    .clock{
        transform: translateX(-50%) translateY(-110%);
        font-size: 60px;
        border:  inset white 5px;
        border-radius: 30px 30px 30px 30px;
    }
}

.Hour-Symbol{
    color: white;
    position: relative; 
    left: 600px; 
    bottom: -305px;
    font-family: 'Roboto Mono', monospace;    
}

.Seconds-Symbol{
    color: white;
    position: relative; 
    left: 843px; 
    bottom: -230px;
    font-family: 'Roboto Mono', monospace;    
}

.Minute-Symbol{
    color: white;
    position: relative; 
    left: 720px; 
    bottom: -265px;
    font-family: 'Roboto Mono', monospace;    
}

.Milli-Symbol{
    color: white;
}


@media screen and (max-width: 1200px) {
    .Title{
        max-width: 100%;
    }
    .clock{
        transform: translateX(-50%) translateY(-110%);
        font-size: 25px;
        border:  inset white 5px;
        border-radius: 30px 30px 30px 30px;
    }

}



.Title{
   transform: var(--title-position);
   text-align: center;
   font-family: 'Roboto Mono', monospace;    
   color: white;
   max-width: 100%;
   max-height: 100%;
   display: block;
}

.Nav-Bar{
    overflow: hidden;
    transform: translateX(3%);
}
.Nav-Bar a{
    float: left;
    color: white;
    text-align: center;
    padding: 25px 200px ;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace; 
    border: inset white 5px;   
}

.Nav-Bar a:hover{
    color: lightblue;
}